/* min-width:fit-content可以保证看到全部内容  */
/* overflow-y:scroll当内容超过feed框架时，可以在y轴出现滚动条*/
.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

/* 隐藏滚动条Chrome, Safari, Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* 隐藏滚动条IE, Edge, Firebox */
.feed {
  -ms-overfolw-style: none;
  scrollbar-width: none; 
}


/* sticky定位：在跨越特定阈值前为相对定位，之后为固定定位 */
/* z-index层叠关系让header浮在最上层 */
.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;

}